.modal {
	$self: &;
	box-sizing: border-box;
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	background-color: rgba(14, 17, 46, 0.95); 
	backdrop-filter: blur(3px);
	padding: 30px;
	overflow-y: auto;
	@keyframes slideInDown {
		from { opacity: 0; transform: translateY(-2000px); }
		to { opacity: 1; transform: translateY(0); }
	}
	@keyframes show_fade { from { opacity: 0; } to { opacity: 1; }}
	
	@include media('<=xxs') {
		padding: 15px;
	}

	&[style*="display: block"] {
		display: flex !important;
	}

	&_request {
		#{$self}__body {
			max-width: 600px;
			padding: 55px 40px;
		}

		#{$self}__content {
			max-width: 390px;
			margin: 0 auto;
		}
	}

	&_video {
		@include media('<=xxs') {
			padding: 0;
		}

		#{$self}__body {
			background: transparent;
			max-width: 1200px;
			box-shadow: none;
			border-radius: 0;
			padding: 0;
		}
		
		#{$self}__content {
			border-radius: 80px;
			overflow: hidden;
			
			@include media('<=sm') {
				border-radius: 40px;
			}
			
			@include media('<=xxs') {
				border-radius: 0;
				height: 100vh;
				width: 100vw;

				video { object-fit: cover; }
			}
		}

		#{$self}__close {
			@include media('<=xxs') {
				top: 10px;
				right: 10px;
			}
		}
	}

	&_self {
		#{$self}__body {
			background-color: transparent;
			box-shadow: none;
			border-radius: 0;
			max-width: none;
			width: auto;
			padding: 0;
		}

		#{$self}__content {
			background-color: #202020; 
			border-radius: 80px;
			overflow: hidden;
		
			@include media('<=xxs') {
				border-radius: 40px;
			}
		}
	}
	
	&__hidden {
		display: none;
	}
	
	&__close {
		position: absolute;
		top: -75px; right: 0px;
		border-radius: 50%;
		cursor: pointer;
		height: 47px;
		width: 47px;
		z-index: 2;
		background: url('#{$images-path}icons-sprite.svg#icon-close-view-white') center / 20px 20px no-repeat rgba(255, 255, 255, 0.15);
		transition: background-color 0.3s;

		&:hover { 
			background-color: #fff; 
			background-image: url('#{$images-path}icons-sprite.svg#icon-close-view-dark');
		}
	}

	&__body {
		animation: slideInDown 0.7s ease both;
		box-sizing: border-box;
		position: relative;
		background-color: #F1F8FA;
		border-radius: 80px;
		margin: auto;
		padding: 40px;
		width: 100%;
		max-width: 1000px;
		box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.07);
		
		@include media('<=xxs') {
			border-radius: 40px;
			padding: 20px;
		}
	}
	
	&__content {
		min-height: 200px;
		
		@include media('<=xxs') {
			min-height: 140px;
		}
		
		@include media('<=xxxs') {

		}

		img {
			display: block;
			margin: 0 auto;
		}

		video {
			display: block;
			height: 100%;
			width: 100%;
			max-width: 100%;
		}

		&_slideshow {

			img, video {
				animation: show_fade 0.3s;
				width: 100%;
				object-fit: cover;
				display: none;
				min-height: 400px;

				&.active {
					display: block;
				}
			}
		}
	}

	&__prev, &__next {
		@extend %reset-button;
		height: 47px;
		width: 47px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 14px 21px;
		background-color: rgba(255, 255, 255, 0.15);
		transition: background-color 0.3s;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}
	
	&__prev {
		left: -23px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-white');
		background-position: center left 14px;
		
		@include media('<=xxs') {
			left: -12px;
		}

		&:hover { 
			background-color: #fff; 
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-dark');
		}
	}
	
	&__next {
		right: -23px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-white');
		background-position: center right 14px;
		
		@include media('<=xxs') {
			right: -12px;
		}

		&:hover { 
			background-color: #fff; 
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-dark');
		}
	}

	&__play {
		@extend %reset-button;
		position: absolute;
		z-index: 2;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 85px;
		height: 85px;
		border-radius: 50%;
		background: url('#{$images-path}icons-sprite.svg#icon-play-view-white') center left 30px / 32px 35px no-repeat rgba(125, 125, 125, 0.25);
		transition: background-color 0.3s;

		@include media('<=xxs') {
			display: none;
		}

		&.playing {
			display: none;
		}
		
		&:hover { 
			background-color: #fff; 
			background-image: url('#{$images-path}icons-sprite.svg#icon-play-view-dark');
		}
		
		@include media('<=sm') {
			width: 47px;
			height: 47px;
			background-position: center left 16px;
			background-size: 18px 20px;
		}
	}
}