<footer class="footer">
	<div class="footer__top container">
		<div class="footer__side">
			<nav class="footer__navi">
				<a href="./about.html">О нас</a>
				<a href="./coworking.html">Коворкинг и кафе</a>
				<a href="./rent.html">Аренда офиса</a>
			</nav>
			<a class="footer__logo" href="./">
				<img src="./images/logo-bottom.svg" alt="">
			</a>
		</div>
		<div class="footer__contacts">
			<a class="footer__tel" href="tel:+6667889909000">+66 678 8990 9000</a>
			<a class="footer__map" href="https://maps.app.goo.gl/zBVPZJ49hVPE3U6P6?g_st=ic">Мы на карте</a>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__b-inner container">
			<span>Copyright &copy;</span>
		</div>
	</div>
</footer>

@@include("_modals.html") 

<script src="common.js"></script> 
</body> 
</html>