<footer class="footer">
	<div class="footer__top container">
		<div class="footer__side">
			<nav class="footer__navi">
				<a href="./">О нас</a>
				<a href="./">Для Гостей Тайланда</a>
				<a href="./">Для Бизнеса</a>
			</nav>
			<a class="footer__logo" href="./">
				<img src="./images/logo-bottom.svg" alt="">
			</a>
		</div>
		<div class="footer__contacts">
			<a class="footer__tel" href="tel:+66902730920">+66 90 27 30 920</a>
			<a class="footer__map" href="https://maps.app.goo.gl/zBVPZJ49hVPE3U6P6?g_st=ic">Мы на карте</a>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__b-inner container">
			<span>Copyright &copy;</span>
		</div>
	</div>
</footer>

@@include("_modals.html") 

<script src="common.js"></script> 
</body> 
</html>