<div class="card-b @@if(this.cls){@@cls}" @@if(this.anim){data-animation='@@anim'}>
	<a class="card-b__image" href="./details.html">
		<img src="./images/@@image" alt="">
	</a>
	<div class="card-b__body">
		<h4 class="card-b__title">@@title</h4>
		<div class="card-b__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore euvsd fugiat nulla pariatur.</div>
		<div class="card-b__bottom @@if(this.button){card-b__bottom_buttons}">
			<div class="card-b__b-date">Час/день</div>
			<div class="card-b__b-price">100/350</div>
		</div>
	</div>
</div>