<div class="card-b @@if(this.cls){@@cls}" @@if(this.anim){data-animation='@@anim'}>
	<a class="card-b__image" href="./details.html">
		<img src="./images/@@image" alt="">
	</a>
	<div class="card-b__body">
		<a class="card-b__title" href="./">@@title</a>
		<div class="card-b__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore euvsd fugiat nulla pariatur.</div>
		<div class="card-b__bottom @@if(this.button){card-b__bottom_buttons}">
			<div class="card-b__b-date">
				<span>Час</span>
				<span>день</span>
			</div>
			<div class="card-b__b-price">
				<span>100</span>
				<span>350</span>
			</div>
		</div>
	</div>
</div>