<div class="modal__hidden">
	<div id="request">
		<div class="form">
			<h2 class="form__title">Оставьте свои контакты<br> и наши менеджеры отправят вам информацию в ближайшее время</h2>
			<div class="form__body">
				<label class="form__field form__field_info">
					<input type="text" name="form_info" placeholder="Информация">
				</label>
				<label class="form__field form__field_text">
					<input type="text" name="form_name" placeholder="Имя">
				</label>
				<label class="form__field form__field_region">
					<input type="text" name="form_region" placeholder="Регион">
				</label>
				<label class="form__field form__field_text">
					<input type="text" name="form_phone" placeholder="Mob/Tlg/Whts">
				</label>
				<select name="form_theme" class="form__field form__field_sect">
					<option value="Водительские права">Водительские права</option>
					<option value="Регистрация компании">Регистрация компании</option>
				</select>
			</div>
			<div class="form__buttons">
				<button class="form__button button button_fill-yellow">Отправить</button>
			</div>
		</div>
	</div>
	<div id="video">
		<video controls preload="metadata" poster="./images/video-preview.jpg">
			<!-- <source src="./images/video-small.mp4" type="video/mp4" media="all and (max-width: 480px)"> -->
			<source src="./images/video.mp4" type="video/mp4">
		</video>
	</div>
</div>