.contact {
	$self: &;

	&__title {

	}

	&__inner {
		display: flex;
		justify-content: space-between;

		@include media('<=md') {
			flex-flow: column nowrap;
		}
	}

	&__side {
		box-sizing: border-box;
		padding-right: 20px;
		max-width: 480px;

		@include media('<=md') {
			margin-bottom: 30px;
			max-width: none;
			padding: 0;
			order: 1;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 30px;
		line-height: 1.4;
	}

	&__button {
		align-items: flex-start;
		line-height: 1.3;

		@include media('<=xxs') {
			padding: 12px 24px 11px;
		}
	}

	&__links {
		display: flex;

		@include media('<=xs') {
			flex-wrap: wrap;
		}
	}

	&__link {
		text-decoration: none;
		color: rgb(var(--text));
		padding: 0 20px 20px;
		
		@include media('<=md') {
			padding: 0 40px 20px 0;
		}
		
		&::before {
			display: block;
			content: '';
			height: 32px;
			width: 32px;
			border-radius: 50%;
			margin-bottom: 10px;
			background-color: rgb(var(--orange));
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% 100%;
		}

		span {
			display: block;

			&:nth-child(1) {
				font-weight: 500;
				font-size: 14px;
				margin-bottom: 10px;
			}
			
			&:nth-child(2) {
				white-space: nowrap;
				font-family: "PS", sans-serif;
				font-weight: 600;
				font-size: 13px;
			}
		}

		&_tel::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-phone-view-dark');
			background-size: 18px 18px;
		}
		
		&_tgm::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-tgm-view-dark');
			background-size: 20px 18px;
		}
		
		&_mail::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-mail-view-dark');
			background-size: 20px 14px;
		}
	}
}