.gallery {
	$self: &;
	&__frame {
		@include aspect-ratio(8, 4);
		border-radius: 50px;
		margin-bottom: 16px;
		overflow: hidden;
		
		@include media('<=xxs') {
			border-radius: 30px;
			margin-bottom: 10px;
		}
	}

	&__item {
		position: absolute;
		top: 0; left: 0;
		height: 100%;
		opacity: 0;
		transition: opacity 0.3s;
		cursor: pointer;

		&::after {
			display: block;
			content: '';
			position: absolute;
			z-index: 2;
			height: 14px;
			width: 14px;
			background: url('#{$images-path}icons-sprite.svg#icon-full-view-white') center / contain no-repeat transparent;
			bottom: 30px;
			right: 30px;
			
			@include media('<=xxs') {
				bottom: 25px;
				right: 25px;
			}
		}
		
		&.active {
			z-index: 1;
			opacity: 1;
		}

		img, video {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		&_video::before {
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			width: 35px;
			height: 40px;
			background: url('#{$images-path}icons-sprite.svg#icon-play-view-white') center / contain no-repeat transparent;
		}
	}

	&__thumbs {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 16px;
		
		@include media('<=xxs') {
			grid-gap: 10px;
		}
	}

	&__thumb {
		@include aspect-ratio(8, 5);
		position: relative;
		flex-grow: 1;
		outline: 2px solid transparent;
		transition: outline-color 0.3s;
		background-size: cover;
		border-radius: 20px;
		
		@include media('<=xxs') {
			border-radius: 15px;
		}
		
		&.active {
			z-index: 1;
			outline-color: rgb(var(--accent));
		}
	}

	&__prev, &__next {
		@extend %reset-button;
		display: block;
		width: 55px;
		height: 55px;
		background-position: center;
		background-size: 12px 21px;
		background-repeat: no-repeat;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__prev {
		right: auto;
		left: -27px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-white');
		background-position: center left 19px;
	}
	
	&__next {
		left: auto;
		right: -27px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-white');
		background-position: center right 19px;
	}
}
