.title {
	$self: &;
	color: rgb(var(--accent));
	font-family: "PS", sans-serif;
	font-weight: 800;
	font-size: 40px;
	@keyframes titleFadeInUp {
		from { opacity: 0; transform: translateY(30px); }
		to { opacity: 1; transform: translateY(0)}
	}

	&[data-animation] {
		opacity: 0;

		&.showed {
			animation: titleFadeInUp 0.5s;
			animation-delay: 0.3s;
			animation-fill-mode: forwards;
		}
	}
	
	@include media('<=sm') {
		font-size: 36px;
	}
	
	@include media('<=xs') {
		font-size: 34px;
	}
	
	@include media('<=xxs') {
		font-size: 32px;
	}
	
	@include media('<=xxxs') {
		font-size: 28px;
	}
	
	&_subtitle {
		color: rgb(var(--text));
		font-weight: 600;
		font-size: 24px;
		
		@include media('<=sm') {
			font-size: 22px;
		}
		
		@include media('<=xs') {
			font-size: 20px;
		}
		
		@include media('<=xxs') {
			font-size: 18px;
		}
	}
}