.hero {
	$self: &;
	box-sizing: border-box;
	background: linear-gradient(rgba(35, 43, 91, 0.6), rgba(35, 43, 91,0.6)), url('#{$images-path}hero-c-bg-image.png') center top / cover no-repeat transparent;
	display: flex;
	min-height: 660px;
	margin-top: -90px;
	
	@include media('<=xlg') {
		height: auto;
	}
	
	@include media('<=sm') {
		margin-top: -60px;
	}
	
	@include media('<=xxs') {
		min-height: auto;
		height: 100dvh;
	}

	&__inner {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-family: "PS", sans-serif;
		font-weight: 800;
		font-size: 28px;
		color: #fff;
		text-align: center;
		max-width: 790px;
		
		@include media('<=md') {
			font-size: 24px;
		}
		
		@include media('<=xxs') {
			font-size: 20px;
			line-height: 1.4;
		}
	}

	&__button {

	}
}