.card-s {
	$self: &;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 60px 0 110px;
	height: auto;
	min-height: 380px;
	background-color: rgb(var(--accent));
	
	@include media('<=md') {
		padding: 0 60px 0 80px;
	}
	
	@include media('<=sm') {
		padding: 0 60px;
	}
	
	@include media('<=xs') {
		padding: 0 0 0 30px;
	}
	
	@include media('<=xxs') {
		min-height: 300px;
		padding: 0 0 0 20px;
	}
	
	@include media('<=xxxs') {
		padding: 0 20px;
	}

	&_type-1 {
		background-image: linear-gradient(9deg, #704C9F 0%, #32C3C6 65%);
	}

	&_type-2 {
		background-image: linear-gradient(9deg, #FFAB15 0%, #FFC939 65%);
	}
	
	&_type-3 {
		background-image: linear-gradient(9deg, #0BA6AA 0%, #32D2D6 65%);
	}

	&__side {
		flex-grow: 1;
		max-width: 590px;
		padding: 50px 0;
		
		@include media('<=sm') {

		}
		
		@include media('<=xxs') {
			padding: 30px 0;
		}
	}
	
	&__title, &__title h3 {
		display: block;
		color: #fff;
		margin-bottom: 30px;
		text-decoration: none;
		font-family: "PS", sans-serif;
		font-weight: 800;
		font-size: 28px;
		
		@include media('<=lg') {
			font-size: 28px;
		}
		
		@include media('<=md') {
			font-size: 24px;
		}
		
		@include media('<=sm') {
			margin-bottom: 20px;
			font-size: 22px;
		}
		
		@include media('<=xs') {
			font-size: 20px;
		}
		
		@include media('<=xxs') {
			font-size: 16px;
		}
	}
	
	&__text {
		color: #fff;
		font-size: 14px;
		margin-bottom: 30px;
		
		@include media('<=sm') {
			margin-bottom: 20px;
		}
	}
	
	&__bottom {
		display: flex;
		align-items: center;
		max-width: 500px;
	}
	
	&__button {
		
	}
	
	&__price {
		font-family: "PS", sans-serif;
		font-size: 13px;
		color: #fff;
		flex-grow: 1;
		text-align: center;

		@include media('<=sm') {
			display: none;
		}
	}

	&__image {
		display: block;

		img {
			display: block;
			min-width: 200px;
			
			@include media('<=xxs') {
				min-width: 150px;
			}
		}
		
		@include media('<=xs') {
			margin-right: -30px;
		}
			
		@include media('<=xxxs') {
			display: none;
		}
	}
}