.footer {
	$self: &;
	background-color: #343648;

	&__top {
		padding-top: 80px;
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
		
		@include media('<=xs') {
			display: block;
			padding-top: 70px;
		}
	}

	&__side {
		margin-right: 20px;
		display: flex;
		flex-flow: column nowrap;
	}

	&__navi {
		margin-bottom: 30px;
		
		@include media('<=xs') {

		}

		a {
			color: #fff;
			text-decoration: none;
			font-family: "PS", sans-serif;
			transition: color 0.3s;
			font-size: 10px;
	
			&.active, &:hover {
				color: #32C3C6;
			}

			&:not(:last-child) {
				margin-right: 24px;
			}
		
			@include media('<=xs') {
				display: block;
				padding: 8px 0;
				margin-right: 0 !important;
			}
		}
	}

	&__logo {
		display: block;

		@include media('<=xs') {
			order: -1;
			margin-bottom: 30px;
		}

		img {
			display: block;
		}
	}

	&__contacts {
		text-align: right;
		
		@include media('<=xs') {
			text-align: left;
		}
	}

	&__tel {
		display: flex;
		align-items: center;
		font-family: "PS", sans-serif;
		font-weight: 600;
		text-decoration: none;
		margin-bottom: 6px;
		font-size: 16px;
		color: #fff;
		white-space: nowrap;
		transition: color 0.3s;

		&:hover {
			color: #32C3C6;
		}

		&::after {
			display: block;
			content: '';
			margin-left: 13px;
			height: 11px;
			width: 13px;
			background: url('#{$images-path}icons-sprite.svg#icon-tgm-view-white') center / 100% 100% no-repeat transparent;
		}
	}

	&__map {
		text-decoration: none;
		color: #32C3C6;
		font-size: 14px;
	}

	&__bottom {
		background-color: #232532;
	}
	
	&__b-inner {
		padding-top: 20px;
		padding-bottom: 20px;
		color: #32C3C6;
		font-size: 14px;
	}
}
