@import "lib/additional.scss"; 
@include reset(); 

// Include breakpoints badge
// body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);


// @include font-face("MontserratAlternates-ExtraLight", "MA", 100);
// @include font-face("MontserratAlternates-ExtraBold", "MA", 800);
@include font-face("MontserratAlternates-SemiBold", "MA", 600);
@include font-face("MontserratAlternates-Regular", "MA", 400);
@include font-face("MontserratAlternates-Medium", "MA", 500);
// @include font-face("MontserratAlternates-Light", "MA", 300);
// @include font-face("MontserratAlternates-Black", "MA", 900);
// @include font-face("MontserratAlternates-Bold", "MA", 700);
// @include font-face("MontserratAlternates-Thin", "MA", 200);

// @include font-face("PhonkSans-ExtraLight", "PS", 100);
@include font-face("PhonkSans-ExtraBold", "PS", 800);
@include font-face("PhonkSans-SemiBold", "PS", 600);
// @include font-face("PhonkSans-Regular", "PS", 400);
@include font-face("PhonkSans-Medium", "PS", 500);
@include font-face("PhonkSans-Light", "PS", 300);
// @include font-face("PhonkSans-Black", "PS", 900);
// @include font-face("PhonkSans-Bold", "PS", 700);
// @include font-face("PhonkSans-Thin", "PS", 200);

@import "../../node_modules/swiper/swiper";

// Import BEM blocks scss
@import "../blocks/**/*.scss";

:root {
	--text: 35, 43, 91;
	--accent: 50, 191, 198;
	--orange: 255, 201, 57;
}

body, html {
	box-sizing: border-box;
	background-color: #fff;
	color: rgb(var(--text));
	font-size: #{$basesize}px;
	font-family: 'MA', sans-serif;
	line-height: 1.2;
	font-weight: 300;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

body {
	counter-reset: stages_ctr;
	
	@include media('<=sm') {
		padding-top: 60px;
	}
}

// .main { flex: 1 0 auto; }
.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

@keyframes showItem {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes cardFadeInUp {
	from { opacity: 0; transform: translateY(100px); }
	to { opacity: 1; transform: translateY(0)}
}

.mb1 { margin-bottom: 100px; }
.mb2 { margin-bottom: 60px; }
.mb3 { margin-bottom: 40px; }

			
@include media('<=sm') {
	.mb1 { margin-bottom: 60px; }
	.mb2 { margin-bottom: 40px; }
	.mb3 { margin-bottom: 30px; }
}

@include media('<=xxs') {
	.mb1 { margin-bottom: 40px; }
	.mb2 { margin-bottom: 30px; }
	.mb3 { margin-bottom: 20px; }
}

.top {
	padding-top: 100px;
			
	@include media('<=md') {
		padding-top: 80px;
	}
			
	@include media('<=xs') {
		padding-top: 60px;
	}
}