.form {
	$self: &;

	&__title {
		font-family: "PS", sans-serif;
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 12px;
	}

	&__body {

	}

	&__field {
		box-sizing: border-box;
		display: block;
		border-radius: 100px;
		background-color: #fff;
		margin-bottom: 20px;
		position: relative;

		input, textarea {
			@extend %reset-input;
			font-family: "PS", sans-serif;
			color: rgb(var(--text));
			padding: 12px 35px;
			resize: none;
			width: 100%;
			font-weight: 500;
			font-size: 13px;
			line-height: 1;
			
			@include media('<=xxxs') {
				padding: 12px 35px 12px 20px;
			}
			
			&::placeholder {
				font-family: "PS", sans-serif;
				font-weight: 300;
				color: #B3B2C5;
			}
		}

		&_info {
			display: none;
		}

		&_region {
			@include hide();
		}

		&_text {
			
		}

		&_sect {
			
		}
	}

	&__alert {
		font-size: 14px;
		
		span {
			display: block;

			&.loading img {
				display: block;
				margin: 0 auto;
			}
		}
		
		&_success {
			color: #0c0;
		}
		
		&_error {
			color: #c00;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}

	&__button {

	}
}